In [177]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [178]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.21.5)

In [179]:
!pip install gspread

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gspread in c:\users\munavar\appdata\roaming\python\python39\site-packages (5.5.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\munavar\appdata\roaming\python\python39\site-packages (from gspread) (0.5.2)
Requirement already satisfied: google-auth>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from gspread) (1.33.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (61.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (4.2.2)
Requirement already satisfied: six>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\munavar\appdata\roaming\python\python39\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.27.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\munavar\appdata\roaming\python\python39\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.26.9)

In [180]:
!pip install oauth2client

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: oauth2client in c:\users\munavar\appdata\roaming\python\python39\site-packages (4.1.3)
Requirement already satisfied: pyasn1>=0.1.7 in c:\programdata\anaconda3\lib\site-packages (from oauth2client) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\programdata\anaconda3\lib\site-packages (from oauth2client) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in c:\programdata\anaconda3\lib\site-packages (from oauth2client) (4.7.2)
Requirement already satisfied: six>=1.6.1 in c:\programdata\anaconda3\lib\site-packages (from oauth2client) (1.16.0)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\munavar\appdata\roaming\python\python39\site-packages (from oauth2client) (0.20.4)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\programdata\anaconda3\lib\site-packages (from httplib2>=0.9.1->oauth2client) (3.0.4)

In [181]:
import gspread

## Import Service_Account

In [182]:
from oauth2client.service_account import ServiceAccountCredentials

In [507]:
from oauth2client.service_account import ServiceAccountCredentials
scope =["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]
creds =ServiceAccountCredentials.from_json_keyfile_name("E:/Masai Course(Data Anaytics)/Project/ML project/service_account.json", scope)
client = gspread.authorize(creds)

## Import BSE500 Spreadsheet

In [639]:
spreadsheet = client.open("BSE500")
sht1 = client.open_by_url('https://docs.google.com/spreadsheets/d/1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI/edit#gid=138566287')

In [640]:
worksheet = sht1.worksheet("bse500")

In [641]:
import pandas as pd

In [642]:
BSE = pd.DataFrame(worksheet.get_all_records())

In [643]:
BSE.head()

,Company,BSE code,NSE code,ISIN,Sector,Industry,Date,Price,1 day change(%),52 Week Low,...,EV / EBITDA,Price / Sales,Price / Cash Flow,Earning Per Share,Book Value Per Share,Cash Flow Per Share,Free Cash Flow Per Share,Dividend Per Share,Delta,Risk-Taking
0,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,6158.70,0.59,6086.30,...,16.68,4.98,25.39,425.09,631.65,242.96,459.22,490.0,0.28,-
1,Page Industries Ltd.,532827,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,49786.20,-0.26,31500.00,...,51.79,11.75,169.84,656.83,1161.63,293.09,191.03,370.0,0.03,Low Risk Taking
2,Procter & Gamble Hygiene & Health Care Ltd.,500459,PGHH,INE179A01014,Consumer Staples,Household & Personal Products,2022-09-05,14125.65,0.24,12801.00,...,52.71,12.1,53.17,177.37,227.22,265.9,270.47,315.0,0.14,-
3,Abbott India Ltd.,500488,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,18209.00,-1.26,15514.00,...,30.98,7.73,40.84,380.52,1403.0,445.96,446.9,275.0,0.24,Low Risk Taking
4,Bosch Ltd.,500530,BOSCHLTD,INE323A01026,Automobile,Auto Ancillaries,2022-09-05,17591.10,0.13,12932.45,...,25.04,4.03,192.66,438.11,3734.33,91.29,46.68,210.0,0.09,-

## Import Income/Expenses Spreadsheet

In [647]:
spreadsheet2 = client.open("Income_Expense")
sht2=client.open_by_url('https://docs.google.com/spreadsheets/d/1_uuU1Au7DjdDKqMg1v-brT9TBDWB5JtK9BmbxUpQ3AQ/edit#gid=0')

In [648]:
worksheet2 = shtt2.worksheet("inex")

In [649]:
Income_Ex = pd.DataFrame(worksheet2.get_all_records())

In [650]:
Income_Ex.head()

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Amount,Currency
0,3/2/2022 10:11,CUB - online payment,Food,,Brownie,50.0,Expense,50.0,INR
1,3/2/2022 10:11,CUB - online payment,Other,,To lended people,250.0,Expense,300.0,INR
2,3/1/2022 19:50,CUB - online payment,Food,,Dinner,78.0,Expense,78.0,INR
3,3/1/2022 18:56,CUB - online payment,Transportation,,Metro,30.0,Expense,30.0,INR
4,3/1/2022 18:22,CUB - online payment,Food,,Snacks,67.0,Expense,67.0,INR

## Import Final Report sheet1 shpreadsheet

In [668]:
spreadsheet3 = client.open("Final Report")
sht3=client.open_by_url('https://docs.google.com/spreadsheets/d/1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ/edit#gid=699278882')

In [669]:
worksheet3 = sht3.worksheet('Sheet1')

In [750]:
Final_Report_sheet1 = pd.DataFrame(worksheet3.get_all_records())

In [751]:
Final_Report_sheet1

                           A                B
0                 Net Income            63854
1                Net Expense            59021
2
3                       Food         24749.48
4                      Other            46968
5             Transportation           9123.8
6                Social Life          2313.72
7                  Household            12268
8                    Apparel             3388
9                  Education             1400
10                    Salary             8000
11                 Allowance            14000
12                    Beauty              196
13                      Gift              115
14                Petty cash                3
15
16
17  Available for investment             4833
18
19
20        Investment Profile  Low Risk Taking

## Import Final Report Sheet2 spreadsheet

In [752]:
spreadsheet4 = client.open("Final Report")
sht4=client.open_by_url('https://docs.google.com/spreadsheets/d/1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ/edit#gid=699278882')

In [753]:
worksheet4 = spreadsheet4.worksheet('Sheet2')

In [754]:
Final_Report_sheet2 = pd.DataFrame(worksheet4.get_all_records())

In [755]:
Final_Report_sheet2

   S.No.                Investment Company  Amount to be invested
0      1              Page Industries Ltd.                    900
1      2                 Abbott India Ltd.                    900
2      3                          MRF Ltd.                    900
3      4  Bajaj Holdings & Investment Ltd.                    900
4      5   Honeywell Automation India Ltd.                    900

In [756]:
Income_Ex['Amount'].sum()

112672.28

#  **Subtask - 1:**
##  Populate Net Income for the given data in `sheet1` of Gsheet 3

In [651]:
Income_Ex1 =Income_Ex[Income_Ex['Income/Expense']=='Income']

In [652]:
Income_Ex1['INR'].sum()

63854.0

In [653]:
worksheet3.update('B2', (Income_Ex1['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B2',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [654]:
worksheet3.cell(2,2).value

'63854'

##  Populate Net Expenses for the given data in `sheet1` of Gsheet 3

In [655]:
Income_Ex2 =Income_Ex[Income_Ex['Income/Expense']=='Expense']

In [656]:
Income_Ex2['INR'].sum()

59021.0

In [657]:
worksheet3.update('B3', (Income_Ex2['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B3',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Cost incurred in different categories : Food, Other, Transportation, Social Life, Household, Apparel, Education, Salary, Allowance, Self-development, Beauty, Gift, Petty cash - for the given data in sheet1 of Gsheet 3

### Category Food

In [608]:
Income_Ex4 =Income_Ex[Income_Ex['Category']=='Food']

In [609]:
Income_Ex4['INR'].sum()

24749.48

In [610]:
worksheet3.update('B5', (Income_Ex4['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B5',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

### Category Other

In [611]:
Income_Ex5 =Income_Ex[Income_Ex['Category']=='Other']

In [612]:
Income_Ex5['INR'].sum()

46968.0

In [661]:
worksheet3.update('B6', (Income_Ex5['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B6',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

### Category Transportation

In [662]:
Income_Ex6 =Income_Ex[Income_Ex['Category']=='Transportation']
Income_Ex6['INR'].sum()
worksheet3.update('B7', (Income_Ex6['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B7',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

### Category Socail Life

In [663]:
Income_Ex7 =Income_Ex[Income_Ex['Category']=='Social Life']
Income_Ex7['INR'].sum()
worksheet3.update('B8', (Income_Ex7['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B8',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Household

In [616]:
Income_Ex8 =Income_Ex[Income_Ex['Category']=='Household']
Income_Ex8['INR'].sum()
worksheet3.update('B9', (Income_Ex8['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B9',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Apparel

In [617]:
Income_Ex9 =Income_Ex[Income_Ex['Category']=='Apparel']
Income_Ex9['INR'].sum()
worksheet3.update('B10', (Income_Ex9['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B10',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Education

In [618]:
Income_Ex10 =Income_Ex[Income_Ex['Category']=='Education']
Income_Ex10['INR'].sum()
worksheet3.update('B11', (Income_Ex10['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B11',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Salary

In [619]:
Income_Ex11 =Income_Ex[Income_Ex['Category']=='Salary']
Income_Ex11['INR'].sum()
worksheet3.update('B12', (Income_Ex11['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B12',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Allowance

In [620]:
Income_Ex12 =Income_Ex[Income_Ex['Category']=='Allowance']
Income_Ex12['INR'].sum()
worksheet3.update('B13', (Income_Ex12['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B13',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Beauty

In [621]:
Income_Ex13 =Income_Ex[Income_Ex['Category']=='Beauty']
Income_Ex13['INR'].sum()
worksheet3.update('B14', (Income_Ex13['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B14',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Gift

In [622]:
Income_Ex14 =Income_Ex[Income_Ex['Category']=='Gift']
Income_Ex14['INR'].sum()
worksheet3.update('B15', (Income_Ex14['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B15',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Category Petty cash

In [623]:
Income_Ex15 =Income_Ex[Income_Ex['Category']=='Petty cash']
Income_Ex15['INR'].sum()
worksheet3.update('B16', (Income_Ex15['INR'].sum()))

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B16',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

## Available for investment = Net Income - Net Expense(this has to be populated through python formula and not excel formula)

In [658]:
import numpy as np

In [672]:
Final_Report_sheet1['B'][0]-Final_Report_sheet1['B'][1]

4833

In [749]:
worksheet3.update('B19', Final_Report_sheet1['B'][0]-Final_Report_sheet1['B'][1])

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'updatedRange': 'Sheet1!B19',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

# Subtask 2

## Make a new column in Gsheet 1 named â€œDeltaâ€ and populate it with (52 Week High - price)/(52 week High)

### Insert Delta Column

In [757]:
worksheet.update('AP1','Delta')

{'spreadsheetId': '1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI',
 'updatedRange': "'bse500'!AP1",
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [758]:
Delta = (BSE['52 Week High']-BSE['Price'])/(BSE['52 Week High'])

In [759]:
## Make array of Delta Values
k = [float(i) for i in Delta.values[0:500]]
k = k[0:500]
val = [[i] for i in k]
val

[[0.2790728980714641],
 [0.03327766990291268],
 [0.14215311179128418],
 [0.2392137692739963],
 [0.08617662337662345],
 [0.06547819779078713],
 [0.3928960155490767],
 [0.0564862599797097],
 [0.058612914651301196],
 [0.042379137169480226],
 [0.17847240051347885],
 [0.269594565728201],
 [0.14306772908366533],
 [0.14023188845104578],
 [0.038044306046810625],
 [0.2494332247557003],
 [0.11489345991561176],
 [0.32336562339628755],
 [0.11200000000000007],
 [0.16134109529969817],
 [0.12498034900172929],
 [0.03806735790839408],
 [0.2151151162927495],
 [0.030713748084452017],
 [0.1162031672460409],
 [0.11808331326751748],
 [0.40798525394160823],
 [0.02589388696655138],
 [0.16666666666666666],
 [0.4335533822330888],
 [0.01958762886597938],
 [0.07957729856012784],
 [0.15778235042900968],
 [0.428266958125555],
 [0.42053862894450494],
 [0.4091888825865003],
 [0.0880639400415727],
 [0.2254603880855271],
 [0.17541634139994788],
 [0.3206314643440392],
 [0.40508172362555717],
 [0.05285991551546975],
 [0.5312476226702169],
 [0.006120778054228504],
 [0.4006094305470551],
 [0.21127705889466686],
 [0.3668675889328063],
 [0.27951575710991544],
 [0.18005426356589152],
 [0.38830331817190045],
 [0.3072955465587045],
 [0.25433660933660934],
 [0.09047669009897537],
 [0.25211116229080305],
 [0.31783458646616536],
 [0.33775414278077825],
 [0.1702272190281169],
 [0.18696832279633244],
 [0.27525326677433565],
 [0.24818243075504479],
 [0.40421545667447306],
 [0.337215628090999],
 [0.1621672103066859],
 [0.27567769211638893],
 [0.35356037151702785],
 [0.44277663076837226],
 [0.23504955640521186],
 [0.05301772870510705],
 [0.03221675157241649],
 [0.3048058252427185],
 [0.3093652359809242],
 [0.2056911335154999],
 [0.10606211180124225],
 [0.40170096659022964],
 [0.2214100448007546],
 [0.04601671309192196],
 [0.49171436358680837],
 [0.060454474949588985],
 [0.09895833333333333],
 [0.29650024473813025],
 [0.13677215189873412],
 [0.02195945945945953],
 [0.059748427672955975],
 [0.06207294427317147],
 [0.07070528967254404],
 [0.3543737574552684],
 [0.036183398888227594],
 [0.04387522191224958],
 [0.133304347826087],
 [0.16100758054327227],
 [0.1116302472685451],
 [0.2965867639395519],
 [0.51885174030727],
 [0.10046305617072675],
 [0.3015963511972634],
 [0.1674249317561419],
 [0.020000000000000035],
 [0.3678104575163399],
 [0.25930212371969213],
 [0.13889534883720936],
 [0.3273675310033822],
 [0.11389868973954372],
 [0.03161423414130993],
 [0.18432382792467242],
 [0.42997696037720684],
 [0.24920634920634918],
 [0.021755552198217277],
 [0.05349289580514208],
 [0.05697185672514632],
 [0.44195030031798377],
 [0.050788091068301226],
 [0.6070736434108527],
 [0.255609756097561],
 [0.008824404761904834],
 [0.27847322842605376],
 [0.007590275429301571],
 [0.0024268163203396164],
 [0.11332375282282908],
 [0.3443076497440863],
 [0.09580585151361404],
 [0.40024038461538464],
 [0.17730239303843365],
 [0.06623112819105141],
 [0.3811122770199371],
 [0.3157219799948704],
 [0.05410754606528597],
 [0.2942399049881235],
 [0.08919402985074633],
 [0.1302877697841727],
 [0.3908787878787879],
 [0.09273469387755094],
 [0.3820726172465961],
 [0.11771531717380093],
 [0.18547149122807016],
 [0.23378990934174224],
 [0.021502590673575128],
 [0.08525929372834903],
 [0.11928066037735846],
 [0.08256410256410249],
 [0.1465772441728525],
 [0.2421801291820887],
 [0.14291591245680438],
 [0.037806761307607836],
 [0.296957456511825],
 [0.3915397896719511],
 [0.11275],
 [0.11394704277536963],
 [0.21181556195965417],
 [0.3304551178269473],
 [0.2466567164179105],
 [0.5226468506723284],
 [0.23847736625514404],
 [0.04632512315270943],
 [0.06131147540983603],
 [0.10789049919484701],
 [0.07989189189189187],
 [0.08243549367368365],
 [0.1910130718954248],
 [0.15013161043311798],
 [0.6152266823095617],
 [0.10025733942545031],
 [0.013310924369747868],
 [0.30746500777604974],
 [0.33013565891472874],
 [0.08285419920901332],
 [0.026180855510659],
 [0.050812861271676335],
 [0.059712230215827285],
 [0.018486476641471593],
 [0.09469339622641504],
 [0.3316556291390728],
 [0.03338358819728624],
 [0.15143551346258743],
 [0.011418269230769265],
 [0.16317991631799164],
 [0.10080645161290322],
 [0.02629582806573951],
 [0.10736772340660547],
 [0.4018832391713747],
 [0.01803081160168693],
 [0.15200764818355647],
 [0.056439778756067274],
 [0.2691765810895428],
 [0.23099547511312218],
 [0.05798650168728904],
 [0.19017551989804782],
 [0.3421523676426951],
 [0.14979946524064172],
 [0.6412559017941454],
 [0.35591562612069255],
 [0.15456144759989948],
 [0.05858723019038725],
 [0.22550409577819783],
 [0.5562111801242235],
 [0.4519159289045077],
 [0.240975935828877],
 [0.24061447465702784],
 [0.06589621069007663],
 [0.2724224334880979],
 [0.3794353012230107],
 [0.045585120273917056],
 [0.13483572349950682],
 [0.2760885758786482],
 [0.07975990915481533],
 [0.03019710651519578],
 [0.0530859068457739],
 [0.11300371155885472],
 [0.4848278145695364],
 [0.009317990457479601],
 [0.3739299090422686],
 [0.499160945842868],
 [0.01734693877551028],
 [0.3954792800334868],
 [0.35256679255839973],
 [0.1656862745098039],
 [0.21923229125445193],
 [0.005479452054794543],
 [0.29766666666666663],
 [0.6068994889267462],
 [0.3402910955447443],
 [0.28461998803111904],
 [0.30974923234390994],
 [0.005459508644222055],
 [0.4495177946573355],
 [0.20693020985846758],
 [0.33834876543209874],
 [0.07551589514779704],
 [0.10084864165588624],
 [0.13746341463414632],
 [0.43302238805970156],
 [0.2701680672268908],
 [0.32499999999999996],
 [0.359365400599906],
 [0.26945454545454545],
 [0.34356783919597994],
 [0.42888888888888893],
 [0.3526466836734694],
 [0.004745925215723917],
 [0.3124172185430463],
 [0.009677419354838684],
 [0.07803304416059985],
 [0.1748792270531401],
 [0.5229007633587786],
 [0.11099365750528542],
 [0.14507575757575755],
 [0.4442881040601598],
 [0.04764018345909148],
 [0.33534002229654397],
 [0.010795228628230652],
 [0.42916666666666664],
 [0.05106224375698851],
 [0.33815157116451017],
 [0.22924324639710605],
 [0.30486891385767795],
 [0.27670318384115034],
 [0.1793689320388349],
 [0.08708910891089112],
 [0.22952264073759404],
 [0.06591812275279127],
 [0.11551246537396119],
 [0.23145577151923838],
 [0.03212543554006962],
 [0.12383281458425964],
 [0.05775985751743927],
 [0.4260296846011132],
 [0.5347438752783964],
 [0.11181297597260764],
 [0.173979480462781],
 [0.11079987550575793],
 [0.011027664226637642],
 [0.30660304756041257],
 [0.25153017671951905],
 [0.3223923444976076],
 [0.32529474812433007],
 [0.05862770482707596],
 [0.11051930758988018],
 [0.007047477744807248],
 [0.38922610015174514],
 [0.02120223671947802],
 [0.04757001647446463],
 [0.07658102766798418],
 [0.31146605818596684],
 [0.23420436817472695],
 [0.3268394345777455],
 [0.37764151421476716],
 [0.2022471910112359],
 [0.04586693548387094],
 [0.020398671096345546],
 [0.12467948717948711],
 [0.15692640692640691],
 [0.1908627087198516],
 [0.30245165745856356],
 [0.09088888888888892],
 [0.19321902464242624],
 [0.04681086565512152],
 [0.24225406661502707],
 [0.3372062318457882],
 [0.35240753663642715],
 [0.041340280893060556],
 [0.20156171865984537],
 [0.28326681592524094],
 [0.26355555555555554],
 [0.11671454410043615],
 [0.20925553319919526],
 [0.07692307692307687],
 [0.01381564287305943],
 [0.22644376899696048],
 [0.2857924779107045],
 [0.017988703339882093],
 [0.3265583957972965],
 [0.12848484848484842],
 [0.1104231166150671],
 [0.3305624826821834],
 [0.34647651006711416],
 [0.5200397499665318],
 [0.4959525602409639],
 [0.12919011499877664],
 [0.15885825300754683],
 [0.025234521575985075],
 [0.39373464373464373],
 [0.15199999999999997],
 [0.37040666340029393],
 [0.387147266313933],
 [0.03094328313478681],
 [0.6450935972338142],
 [0.04441823899371074],
 [0.21715328467153283],
 [0.03712871287128713],
 [0.047784200385356475],
 [0.35721003134796236],
 [0.20667673209193096],
 [0.24479989468141133],
 [0.0817901234567901],
 [0.3286893704850362],
 [0.545641447368421],
 [0.26450892857142844],
 [0.37766400761995467],
 [0.3095571306035844],
 [0.03308094465476838],
 [0.07730307076101466],
 [0.15549116997792486],
 [0.08447067502766518],
 [0.3081108829568789],
 [0.2828260869565218],
 [0.0992063492063492],
 [0.11668769147594162],
 [0.19662683278243928],
 [0.010075528700906318],
 [0.2619187757504414],
 [0.1628787878787878],
 [0.1379184861717613],
 [0.3775390050044157],
 [0.25166666666666665],
 [0.34760348583878],
 [0.011020295711268252],
 [0.13985796715490453],
 [0.4195288753799392],
 [0.33109671448403516],
 [0.024898018648018595],
 [0.36332425713270994],
 [0.009626955475330892],
 [0.11054871892821083],
 [0.12781174299227127],
 [0.06902839281062777],
 [0.6719791944518538],
 [0.20608604407135359],
 [0.27299663299663307],
 [0.22003484320557493],
 [0.09041184041184042],
 [0.2142581888246628],
 [0.4168593545792702],
 [0.06622387184997065],
 [0.15729272912720377],
 [0.10732833237160984],
 [0.4043165319254249],
 [0.4790223708303479],
 [0.2593360995850622],
 [0.14979359150776483],
 [0.19247757073844038],
 [0.21225382932166306],
 [0.28707085463842213],
 [0.1635416666666667],
 [0.2827734276332407],
 [0.40049981488337655],
 [0.45928492676011967],
 [0.35567970204841715],
 [0.09565487274984476],
 [0.0048161823727725156],
 [0.422425952045134],
 [0.26725219573400255],
 [0.469730622472806],
 [0.21804511278195488],
 [0.46869759642258246],
 [0.07486308728349456],
 [0.23204586602293295],
 [0.24750312109862668],
 [0.3236770954036307],
 [0.22348297977306356],
 [0.2267426794506349],
 [0.5642752562225476],
 [0.3244186046511628],
 [0.3577151335311573],
 [0.6541341145833334],
 [0.41132075471698115],
 [0.30296610169491534],
 [0.16385431654676264],
 [0.3149850299401198],
 [0.22826229508196716],
 [0.09923752310536041],
 [0.041193181818181816],
 [0.17097701149425276],
 [0.026242236024844684],
 [0.1534083388484447],
 [0.4245810055865921],
 [0.43030837442094405],
 [0.10545638688441569],
 [0.013712648383135581],
 [0.22416101694915258],
 [0.18795594335574306],
 [0.2470441817050404],
 [0.3292134157316854],
 [0.23260437375745519],
 [0.08433734939759033],
 [0.49718642221818843],
 [0.11885476675185164],
 [0.373943661971831],
 [0.1372093023255814],
 [0.04088541666666664],
 [0.2806896551724138],
 [0.34315789473684216],
 [0.24663978494623656],
 [0.08540471637985982],
 [0.4693667443667444],
 [0.1587041884816754],
 [0.40837151436125024],
 [0.2148506151142355],
 [0.2913897280966767],
 [0.4501154734411086],
 [0.405467720685112],
 [0.06180461329715061],
 [0.3224637681159421],
 [0.3363984674329502],
 [0.05046728971962622],
 [0.014914772727272887],
 [0.25442032434015444],
 [0.5387953037263911],
 [0.2764227642276423],
 [0.15852482725373612],
 [0.15130252100840333],
 [0.30566364029399046],
 [0.1363295880149813],
 [0.42998846597462514],
 [0.42564559216384684],
 [0.2633264105226722],
 [0.3316589278176446],
 [0.4090865842055186],
 [0.03729603729603733],
 [0.18738019169329073],
 [0.493841059602649],
 [0.07648546144121363],
 [0.28284600389863546],
 [0.03600000000000004],
 [0.43674108891500196],
 [0.2927880386983289],
 [0.19826491747778258],
 [0.4478778853313477],
 [0.35725308641975306],
 [0.3565957446808511],
 [0.3955701678491088],
 [0.6386119680783253],
 [0.6630272108843537],
 [0.4441896589984467],
 [0.2109375],
 [0.12515520238390854],
 [0.4394487121554451],
 [0.22542175683536939],
 [0.004945822478951905],
 [0.11548701298701293],
 [0.1958199753390876],
 [0.241897233201581],
 [0.18848214285714288],
 [0.48224513172966776],
 [0.15436241610738255],
 [0.19351063829787232],
 [0.40944804557061487],
 [0.48474470734744707],
 [0.34713467048710606],
 [0.19465648854961826],
 [0.14477361654555626],
 [0.5438928019240681],
 [0.25044233553160683],
 [0.39824324324324323],
 [0.4594430992736077],
 [0.1993464052287582],
 [0.24625960372017794],
 [0.4464285714285714],
 [0.04900885085216883],
 [0.5067574433492532],
 [0.06983240223463688],
 [0.6472501478415138]]

In [760]:
## Update Worksheet with Delta Values
worksheet.batch_update([{'range':'AP2:AP501',
                     'values' : val }])

{'spreadsheetId': '1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI',
 'totalUpdatedRows': 500,
 'totalUpdatedColumns': 1,
 'totalUpdatedCells': 500,
 'totalUpdatedSheets': 1,
 'responses': [{'spreadsheetId': '1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI',
   'updatedRange': "'bse500'!AP2:AP501",
   'updatedRows': 500,
   'updatedColumns': 1,
   'updatedCells': 500}]}

### Distribute in Low, High, Medium,Risk

In [765]:
A = BSE['Market Cap(Cr)']
B = BSE['10-Year Return(%)']

In [766]:
## Create Column Heading Risk-Taking
worksheet.update("AQ1","Risk-Taking")

{'spreadsheetId': '1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI',
 'updatedRange': "'bse500'!AQ1",
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [767]:
## Change Datatype to Numeric
BSE['10-Year Return(%)']  = pd.to_numeric(BSE['10-Year Return(%)'] )

In [768]:
## Categories into High, Low, Moderate, Risk
A = BSE['Market Cap(Cr)']
B = BSE['10-Year Return(%)']
Risk_Taking=[]
for i in range(0,501):
    if A[i]<2000 and B[i]<=8:
        Risk_Taking.append("High Risk Taking")
    elif 2000<=A[i]<5000 and 8<B[i]<=15:
        Risk_Taking.append("Risk Taking")
    elif 5000<=A[i]<15000 and 15<B[i]<=20:
        Risk_Taking.append("Moderate Risk Taking")
    elif A[i]>=18000 and B[i]>20:
        Risk_Taking.append("Low Risk Taking")
    else:
        Risk_Taking.append(" - ")

In [ ]:
## Convert to Array
l = [str(i) for i in Risk_Taking]
l = l[0:501]
val1 = [[i] for i in l]
val1

In [770]:
## Update the worksheet 
worksheet.batch_update([{'range':'AQ2:AQ502', 'values' : val1 }])

{'spreadsheetId': '1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI',
 'totalUpdatedRows': 501,
 'totalUpdatedColumns': 1,
 'totalUpdatedCells': 501,
 'totalUpdatedSheets': 1,
 'responses': [{'spreadsheetId': '1-NUgsGhCM1IVTArPg_Lbz5bAKlcv3IRJZa0mTVqI7NI',
   'updatedRange': "'bse500'!AQ2:AQ502",
   'updatedRows': 501,
   'updatedColumns': 1,
   'updatedCells': 501}]}

In [771]:
BSE = pd.DataFrame(worksheet.get_all_records())

## Top 5 Companies a per given Criteria

In [772]:
## Value Count
BSE['Risk-Taking'].value_counts()

 -                      400
Low Risk Taking          74
Moderate Risk Taking     23
Risk Taking               4
Name: Risk-Taking, dtype: int64

## Low Risk Taking

In [773]:
Low = BSE[BSE['Risk-Taking']=='Low Risk Taking']['Company'].head()
Low

1                 Page Industries Ltd.
3                    Abbott India Ltd.
8                             MRF Ltd.
13    Bajaj Holdings & Investment Ltd.
16     Honeywell Automation India Ltd.
Name: Company, dtype: object

In [774]:
## for Low Risk
L = [str(i) for i in Low]
L = L[0:6]
valL = [[i] for i in L]
valL

[['Page Industries Ltd.'],
 ['Abbott India Ltd.'],
 ['MRF Ltd.'],
 ['Bajaj Holdings & Investment Ltd.'],
 ['Honeywell Automation India Ltd.']]

## High Risk Taking

In [775]:
High = BSE[BSE['Risk-Taking']=='High Risk Taking']['Company'].head()
High

Series([], Name: Company, dtype: object)

In [776]:
## for High Risk
h = [str(i) for i in High]
h = h[0:6]
valh = [[i] for i in h]
valh

[]

## Moderate Risk Taking

In [777]:
Moderate = BSE[BSE['Risk-Taking']=='Moderate Risk Taking']['Company'].head()
Moderate

64                              Cyient Ltd.
129                  Birla Corporation Ltd.
131                     Graphite India Ltd.
151                           Symphony Ltd.
163    Chambal Fertilisers & Chemicals Ltd.
Name: Company, dtype: object

In [778]:
## for Moderate Risk
m = [str(i) for i in Moderate]
m = m[0:6]
valm = [[i] for i in m]
valm

[['Cyient Ltd.'],
 ['Birla Corporation Ltd.'],
 ['Graphite India Ltd.'],
 ['Symphony Ltd.'],
 ['Chambal Fertilisers & Chemicals Ltd.']]

## Risk Taking

In [779]:
Risk = BSE[BSE['Risk-Taking']=='Risk Taking']['Company'].head()
Risk

320               NCC Ltd.
325       Tata Coffee Ltd.
396    Greaves Cotton Ltd.
430               FDC Ltd.
Name: Company, dtype: object

In [780]:
## for Risk only
r = [str(i) for i in Risk]
r = r[0:6]
valr = [[i] for i in r]
valr

[['NCC Ltd.'], ['Tata Coffee Ltd.'], ['Greaves Cotton Ltd.'], ['FDC Ltd.']]

In [782]:
## Replace value coloumn to NA if  no is listed in the selected criteria
v=['NA','NA','NA','NA','NA']
w = [str(i) for i in v]
w= v[0:6]
valv = [[i] for i in w]
valv

[['NA'], ['NA'], ['NA'], ['NA'], ['NA']]

In [783]:
## Update the worksheet with Selected Dropdown List
worksheet4.batch_update([{'range':'B2:B6', 'values' : valv}])
if (worksheet3.cell(22,2).value == 'Low Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6', 'values' : valL }])
    l1=len(Low)
elif (worksheet3.cell(22,2).value == 'High Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6',
                     'values' : valh }])
    l1=len(High)
elif (worksheet3.cell(22,2).value == 'Moderate Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6',
                     'values' : valm }])
    l1=len(Moderate)
elif (worksheet3.cell(22,2).value == 'Risk Taking'):
    worksheet4.batch_update([{'range':'B2:B6',
                     'values' : valr }])
    l1=len(Risk)

## Contribute Available Amount with the top 5 companies Equally

In [790]:
##  Checling the count of element for each criteria w.r.t top 5
if 0<l1<=5:
    X = Final_Report_sheet1['B'][17]/l1
elif l1>5:
    X = Final_Report_sheet1['B'][17]/5
else:
    X=0

In [791]:
## Replace value coloumn to NA if  no is listed in the selected criteria
p=['NA','NA','NA','NA','NA']
u = [i for i in p]
u= u[0:6]
valu = [i for i in u]
valu

['NA', 'NA', 'NA', 'NA', 'NA']

In [792]:
## Checking equal amount to invest coloumn w.r.t no.of.companies
if 0<l1<=5:
    Available = np.ones(l1,dtype=int)*int(X)
elif l1>5:
    Available = np.ones(5,dtype=int)*int(X)
else:
    Available=valu

In [793]:
## disteibute equal amount to invest coloumn w.r.t no.of.companies
Z = [str(i) for i in Available]
Z = Z[0:6]
valZ = [[i] for i in Z]
valZ

[['966'], ['966'], ['966'], ['966'], ['966']]

In [794]:
## update worksheet with invest amount
worksheet4.batch_update([{'range':'C2:C6','values':valZ}])

{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
 'totalUpdatedRows': 5,
 'totalUpdatedColumns': 1,
 'totalUpdatedCells': 5,
 'totalUpdatedSheets': 1,
 'responses': [{'spreadsheetId': '1oVZk2TQ1rh6PVjZNvn_-QX58D_spTXNEZ6dcK6aD2nQ',
   'updatedRange': 'Sheet2!C2:C6',
   'updatedRows': 5,
   'updatedColumns': 1,
   'updatedCells': 5}]}